.open {
    position: fixed;
    height: auto;
    image-orientation: inherit;
}

.body2 { 
    /* background-image: url("./images/flamingo.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    overflow: hidden;
    height: 100%;  */
    background: url("./images/flamingo.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    

    font-family: 'Roboto', sans-serif;
}

.body3 {
    /* background-image: url("./images/show-me-urs.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    overflow: hidden;
    background-size: 100%; */
    background: url("./images/show-me-urs.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    

    font-family: 'Roboto', sans-serif;
}

.body4 {
    /* background-image: url("./images/rainbow-heart.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    overflow: hidden; */
    background: url("./images/rainbow-heart.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    

    font-family: 'Roboto', sans-serif;
}

#logo1 {
    font-family: 'Megrim', cursive;
    font-size: 50px;
    color: white;
}

#logo2 {
    font-family: 'Megrim', cursive;
    font-size: 50px;
    color: #fbff0a;
}

.navbar-item {
    font-size: 20px;
}

.title {
    padding-top: 20px;
    text-align: center;
    color: white;
}

.bio {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 300px;
    padding-left: 600px;
    padding-right: 100px;
    padding-bottom: 250px;
} 

/* .port-container {
    padding-bottom: -200px;
} */

.port-text {
    font-size: 35px;
    color: white;
    font-style: italic;
    margin-top: 375px;
    margin-left: 25px;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 75px;
    margin-bottom: 100px;
    

  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-bottom: 10px;
  }

#doggify:hover {
    opacity: .7;
}

#detsy:hover {
    opacity: .7;
}

#team-generator:hover {
    opacity: .7;
}

#developer:hover {
    opacity: .7;
}

.modal {
    padding-top: 25px;
}

.modal-content {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding-bottom: 15px;
}
.modal-title {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.content {
    text-align: center;
    color: white;
}

.content-title {
    text-align: center;
    color: white;
}

.container {
    align-content: flex-start;
}

.contact-text {
    padding-top: 150px;
    padding-left: 100px;
    width: 40%;
}

.contact-h-text {
    color: white;
    font-size: 35px;
    font-style: italic;
}

.contact-p-text {
    color: white;
    font-size: 20px;
}

#contact-form {
    padding-top: 10px;
    margin-bottom: 100px;
    padding-left: 50px;
}

.field {
    width: 40%;
    padding-left: 100px;
}

.foot-icons {
    content: " ";
    display: inline-block;
    width: 150px;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
