.open {
    position: fixed;
    height: auto;
    image-orientation: inherit;
}

.body2 { 
    background-image: url("./images/flamingo.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    overflow: hidden;
    height: 100%;

    

    font-family: 'Roboto', sans-serif;
}

.body3 {
    background-image: url("./images/show-me-urs.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    

    font-family: 'Roboto', sans-serif;
}

.body4 {
    background-image: url("./images/rainbow-heart.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    overflow: hidden;
    

    font-family: 'Roboto', sans-serif;
}

#logo {
    font-family: 'Megrim', cursive;
    font-size: 50px;
}

.title {
    padding-top: 20px;
    text-align: center;
    color: white;
}

#self-image {
    max-width: 70%;
    max-height: 70%;
}

.bio {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 300px;
    padding-left: 600px;
    padding-right: 100px;
    padding-bottom: 250px;
} 

#work-image {
    margin-left: 300px;
    max-width: 50%;
    max-height: 50%;
    align-content: center;
}

.content {
    text-align: center;
    color: white;
}

.contact-info {
    text-align: left;
    margin: 50px;
}

.content-contact {
    font-size: 20px;
    text-align: left;
    margin: 50px;
    color: white;
}

.content-title {
    text-align: center;
    color: white;
}

.container {
    align-content: flex-start;
}

.fab {
    background: transparent;
    max-width: 100%;
    max-height: 100%;
}

.icons {
    padding-right: 900px;
    align-content: right;
    padding-top: 200px;
    padding-bottom: 200px;
}

.icon-text {
    /* font-family: 'Farsan', cursive; */
    font-family: 'Rouge Script', cursive;
    font-size: 45px;
    color: white;
    text-align: right;
}
/* .button {
    margin-left: 50px;
    font-size: 100px;
    align-self: left;
} */

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }